@charset 'utf-8';
@import 'reset.css';

/*
    12 column grid
    1column : 1180px;
    2column : 580px;
    3column : 380px;
    4column : 280px;
    gap : 20px;
*/

/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}
#header .inner {
    width: 1180px;
    height: 120px; 
    margin: 0px auto;
    position: relative;
}
#header .inner h1 {
    position: absolute;
    left: 0px;
    bottom: 15px;
}
#header .inner h1 a {
    font: bold 24px/1 "arial"; 
    color: #444;
}
#header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#header .inner #gnb > li {
    float: left;
}
#header .inner #gnb > li > a {   
    display: inline-block;
    padding: 20px 40px;
    font: bold 14px/1 "arial";
    color: #777;
    transition: 0.5s;
}
#header .inner #gnb > li > a:hover {
    background: #777; 
    color: #fff;
}
#header .inner .util {
    position: absolute; 
    top: 14px;
    right: 0px;
}
#header .inner .util li {
    float: left;
}
#header .inner .util li a {
    display: inline-block; 
    font: 12px/1 "arial";
    color: #999;
    padding: 0px 20px;
    border-right: 1px solid #ccc;
}
#header .inner .util li:last-child a {
    border-right: none;
}
#header .inner .btnMo {
    position: absolute; 
    bottom: 20px;
    right: 30px;
    color: #555;
    font-size: 30px;
    display: none;
}
#header .inner .menu_mobile {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -50%;
    background: rgba(0,0,0,0.9);
    z-index: 5;
    transition: 0.5s;
}
#header .inner .menu_mobile.on {
    left: 0px;
}
#header .inner .menu_mobile .mobile_btn {
    width: 100%;
    margin-top: 40%;
}
#header .inner .menu_mobile .mobile_btn li {
    margin: 20px 0;
    text-align: center;
}
#header .inner .menu_mobile .mobile_btn li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    
}
#header .inner .menu_mobile .mobile_btn li a:hover {
    color: #888;
}
/* visual */
#visual {
    width: 100%;
    margin-top: 120px;
    height: calc(100vh - 120px);
    background: #333;
    overflow: hidden;
    position: relative;
}
#visual video {
    width: 2000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}
#visual .inner {
    width: 1180px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    padding-top:150px;
}
#visual .inner  h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}
#visual .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 60px;
}
#visual .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: 11px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.5s;
}
#visual .inner a:hover {
    background: #fff; 
    color: #333;
}

/* news */
#news {
    width: 100%;
    padding: 200px 0px;
}
#news .inner {
    width: 1180px;
    margin: 0px auto;
}
#news .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
#news .inner .wrap {
    width: 100%;
}
#news .inner .wrap article {
    width: 280px; 
    float: left;
    margin-right: 20px;
}
#news .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;   
}
#news .inner .wrap article h2 {
    margin-bottom: 10px;
}
#news .inner .wrap article h2 a {
    font: bold 16px/1 "arial";
    color: #555;
}
#news .inner .wrap article p {
    font: 14px/1.4 "arial";
    color: #777;
}
#news .inner .wrap article:nth-of-type(1) .pic {
    background-image: url(../img/news1.jpg);
}
#news .inner .wrap article:nth-of-type(2) .pic {
    background-image: url(../img/news2.jpg);
}
#news .inner .wrap article:nth-of-type(3) .pic {
    background-image: url(../img/news3.jpg);
}
#news .inner .wrap article:nth-of-type(4) .pic {
    background-image: url(../img/news4.jpg);
}

/* brand */
#brand {
    width: 100%;
    padding: 200px 0px;
    background: #eee;
}
#brand .inner {
    width: 1180px; 
    margin: 0px auto;
}
#brand .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    margin-bottom: 50px;
    text-align: center;
}
#brand .inner .wrap {
    width: 100%;
}
#brand .inner .wrap article:nth-of-type(1) {
    width: 380px; 
    height: 620px;
    background: #444;
    float: left;
    margin-right: 20px;
    padding: 170px 50px 0px;
    text-align: center;
}
#brand .inner .wrap article:nth-of-type(1) .fa-barcode {
    font-size: 100px;
    color: #fff;
    margin-bottom: 20px;
}
#brand .inner .wrap article:nth-of-type(1) h2 {
    font: bold 20px/1 "arial";
    color: #fff; 
    margin-bottom: 10px;
}
#brand .inner .wrap article:nth-of-type(1) p {
    font: 14px/1.3 "arial";
    color: #999;
    margin-bottom: 30px;
}
#brand .inner .wrap article:nth-of-type(1) a {
    display: block; 
    width: 150px; 
    height: 30px; 
    border: 1px solid #bbb;
    font: 11px/30px "arial";
    color: #ddd;
    text-align: center;
    margin: 0px auto;
}
#brand .inner .wrap article:nth-of-type(2) {
    width: 380px;
    height: 300px;
    float: left;
    margin-right: 20px;
    background-image: url(../img/brand1.jpg);
}
#brand .inner .wrap article:nth-of-type(3) {
    width: 380px;
    height: 300px;
    float: left;
    margin-right: 0px;
    background-image: url(../img/brand2.jpg);
}
#brand .inner .wrap article:nth-of-type(4) {
    width: 780px;
    height: 300px;
    float: left;
    margin-top: 20px;
    background-image: url(../img/brand3.jpg);
}

/* banner  */
#banner {
    width: 100%;
    padding: 150px 0px;
    background: url(../img/banner.jpg) no-repeat center/cover fixed;
}
#banner .inner {
    width: 1180px; 
    margin: 0px auto;
}
#banner .inner h1 {
    font: bold 30px/1 "arial";
    color: #fff;
    text-align: center; 
    margin-bottom: 30px;
}
#banner .inner p {
    font: 16px/1.3 "arial";
    color: #bbb;
    text-align: center;
}

/* comments */
#comments {
    width: 100%;
    background: #eee;
    padding: 200px 0px;
}
#comments .inner {
    width: 1180px;
    margin: 0px auto;
}
#comments .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
#comments .inner ul li {
    margin-bottom: 20px;
}
#comments .inner ul li a {
    display: block;
    width: 100%;
    padding: 20px ;
    box-sizing: border-box;
    font: 12px/1.3 "arial";
    color: #444;
    border: 1px solid #222;
    transition: 0.5s;
}
#comments .inner ul li a:hover {
    background: #222;
    color: #fff;
}

/* footer */
#footer {
    width: 100%;
    padding: 80px 0px;
    background: #444;
}
#footer .inner {
    width: 1180px;
    margin: 0px auto;
}
#footer .inner::after {
    content: "";
    display: block;
    clear: both;
}
#footer .inner h1 {
    font: bold  20px/1 "arial";
    color: #999; 
    float: left;
}
#footer .inner ul {
    float: right;
}
#footer .inner ul li {
    float: left; margin-left: 30px;
}
#footer .inner ul li a {
    font: bold 15px/1 "arial";
    color: #888;
}
#footer .inner address {
    width: 100%;
    float: left;
    margin-top: 30px;
    border-top: 1px solid #777;
    padding-top: 40px;
    font: 14px/1.7 "arial";
    color: #888;
    letter-spacing: 1px;
}
#footer .inner p {
    width: 100%;
    float: left;
    font: 11px/1 "arial";
    color: #777;
    letter-spacing: 1px;
    margin-top: 30px;
}

/* tablet */
@media screen and (max-width: 1179px){
    /* header */  
    #header .inner {
        width: 100%;
        height: 80px; 
    }
    #header .inner h1 {
        left: 20px;
    }
    #header .inner #gnb, #header .inner .util {
        display: none;
    }
    #header .inner .btnMo {
        display: block;
    }

    /* visual */
    #visual {
        height: calc(100vh - 300px);
        margin-top: 80px;
        padding:  0px 30px;
        background: url(../img/bg.jpg) no-repeat;
        object-fit: cover;
        box-sizing: border-box;
    }
    #visual::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        overflow: hidden;
        opacity: 0.7;
        background: #333;

    }
    #visual video {
        display: none;
    }
    #visual .inner {
        width: 100%;
        padding-top:100px;
    }    
    #visual .inner h1 {
        font-size: 14vmin;
    }  
    #visual .inner a {    
        width: 100%;
    }

    /* news */
    #news {  
        padding: 100px 30px;
        box-sizing: border-box;
    }
    #news .inner {
        width: 100%;
    } 
    #news .inner .wrap article {
        width: 49%;  
        margin-right: 2%;
        margin-bottom: 60px;
    }
    #news .inner .wrap article:nth-of-type(2n) {
        margin-right: 0%;
    }
    #news .inner .wrap article .pic {      
        height: 20vmax;
    }   

    /* brand */
    #brand {
        padding: 100px 30px;
        box-sizing: border-box;
    }
    #brand .inner {
        width: 100%; 
    }
    #brand .inner .wrap article:nth-of-type(1) {
        width: 49%; 
        margin-right: 2%;
    }
    #brand .inner .wrap article:nth-of-type(2) {
        width: 49%; 
        margin-right: 0px;
        margin-bottom: 20px;
    }
    #brand .inner .wrap article:nth-of-type(3) {
        width: 49%;
    }
    #brand .inner .wrap article:nth-of-type(4) {
        width: 100%;
    }

    /* banner  */
    #banner {
        padding: 100px 30px;
        box-sizing: border-box;
    }
    #banner .inner {
        width: 100%; 
    }

    /* comments */
    #comments {
        padding: 100px 30px;
        box-sizing: border-box;
    }
    #comments .inner {
        width: 100%;
    } 

    /* footer */
    #footer {
        padding: 80px 30px;
        box-sizing: border-box;
    }
    #footer .inner {
        width: 100%;
    }      
    
    #footer .inner ul li {
        float: left; margin-left: 20px;
    }     
}
@media screen and (max-width: 780px) {
#header .inner .menu_mobile {
    width: 50%;
}

}
/* tablet */
@media screen and (max-width: 539px){

    /* visual */   

    #visual .inner h1 {
        font-size: 12vmin;
    }  

    /* news */  
    #news .inner .wrap article {
        width: 100%;  
        margin-right: 0%;
    }  
    #news .inner .wrap article .pic {      
        height: 30vmin;
    }   

    /* brand */

    #brand .inner .wrap article:nth-of-type(1) {
        width: 100%; 
        margin-right: 0%;
        margin-bottom: 20px;
    }
    #brand .inner .wrap article:nth-of-type(2) {
        width: 100%;        
    }
    #brand .inner .wrap article:nth-of-type(3) {
        width: 100%;
    }  
 

    /* footer */    
    #footer .inner h1 {
        width: 100%;
        margin-bottom: 20px;
    }
    #footer .inner ul {
        width: 100%;
    }
    #footer .inner ul li {
        margin-left: 0px;
        margin-right: 20px;
    }   
}
@media screen and (max-width: 375px) {
    #visual {
        height: calc(100vh - 400px);
        padding:  0px 30px;
        box-sizing: border-box;
    }
    #visual .inner {
        padding-top: 60px;
    }
    #visual p {
        display: none;
    }
}